@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;

}

.navbar{
    transition: position 0.3s ease, top 0.3s ease;
}
.fixed-nav{
    position: sticky;
    top: 0;
    z-index: 2;
}
