@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'vuetify/styles';

*{
    box-sizing: border-box;
}

.navbar{
    transition: all 0.3s ease;
}
.fixed-nav{
    position: sticky;
    top: 5px;
    z-index: 2;
    padding-left: 5rem;
    padding-right: 5rem;
}
.custom-select{
    background-color: rgba(100, 100, 100, 0.915) !important;
}
.featured-card-title{
    border-bottom: 1px solid black;
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
}

@media (max-width:991px){
    .fixed-nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width:576px){
    /**/
}
@media (min-width:991px) and (max-width:1199px) {
    .p-menubar-item-link{
        padding-left: .1rem !important;
        padding-right: .1rem !important;
    }
}
@layer base {

}
@layer base {
  * {
    @apply border-border;

    }
  body {
    @apply bg-background text-foreground;

    }

}
